h1{
  font-size: 2.5rem;
  font-weight:600;
  line-height:2em;
}
h2{
  font-size: 2rem;
  font-weight:600;
  line-height:2em;
}
h3{
  font-size: 1.75rem;
  font-weight:600;
  line-height:2em;
}
h4{
  font-size: 1.5rem;
  font-weight:600;
  line-height:2em;
}
h5{
  font-size: 1.25rem;
  font-weight:600;
  line-height:2em;
}
h6{
  font-size: 1rem;
  font-weight:600;
  line-height:2em;
}
p{
  font-size: 1rem;
  font-weight:600;
  line-height:2em;
}
span{
  font-size: 0.9rem;
  font-weight:600;
  line-height:2em;
}
.primary{
  // color:#1a202c,
}
.secondary{
  color:#4a5568,
}
.danger{
  color:#e53e3e,
}
.success{
  color:#38a169
}