@font-face {
    font-family: 'FunnelDisplay-Bold';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Funnel_Display/FunnelDisplay-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'FunnelDisplay-ExtraBold';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Funnel_Display/FunnelDisplay-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'FunnelDisplay-Light';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Funnel_Display/FunnelDisplay-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'FunnelDisplay-Medium';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Funnel_Display/FunnelDisplay-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'FunnelDisplay-Regular';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Funnel_Display/FunnelDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FunnelDisplay-SemiBold';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Funnel_Display/FunnelDisplay-SemiBold.ttf') format('truetype');
}


@font-face {
    font-family: 'Montserrat-Black';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraLight';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Thin';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}